In [ ]:
namasaya = "Alphantius vincent"
temansaya1 = "alliando syarief"
temansaya2 = 'i putu gede kenzie carlen mataram'
temansaya3 = "Matahari " + "Bakti " + "keren"

print(temansaya3)
print(namasaya[0]) #'A'
print(namasaya[9]) #'s'
print(temansaya1[1]) #'l'

huruf = temansaya2[0]
print(huruf) #'i'

In [ ]:
# operator IN
kalimat = "saya suka matahari terbit"
data = "saya"
print(data in kalimat) #True
print("suka" in kalimat) #True
print("matahari" in kalimat) #True
print("bulan" in kalimat) #False

In [ ]:
##perbandingan comparison
if "matahari" > "bulan":
    print("Ya") #Ya
else:
    print("Tidak")

if "sunset" == "sunset":
    print("Sama") #Sama

In [ ]:
#fungsi len

kalimat = "pak matahari suka melihat matahari terbits"
print(len(kalimat)) #output 42

terakhir = kalimat[len(kalimat)-1]
print(terakhir) #output 's'

 #bisa juga menggunakan indeks -1
terakhir_versi2 = kalimat[-1]
print(terakhir_versi2) #output 's'
 #atau menggunakan indeks -2 untuk huruf terakhir kedua
terakhir2 = kalimat[-2]
print(terakhir2) #output 't'

In [ ]:
#Traversing string with index

kalimat = "indonesia jaya"
i = 0
while i < len(kalimat):
    print(kalimat[i],end='')
    i += 1

In [ ]:
#Traversing string without index automatic

kalimat = "indonesia jaya"
for kal in kalimat:
    print(kal,end='')

In [ ]:
  #string slice
kalimat = "cerita rakyat"
awal = 0
akhir = 6
print(kalimat[awal:akhir]) #cerita
print(kalimat[7:len(kalimat)]) #rakyat
print(kalimat[:5]) #cerit
print(kalimat[5:]) #a rakya
print(kalimat[:]) #cerita rakyat

In [ ]:
#operator * dan + pada satring

kata1 = "matahari"
kata2 = "terbenam"
kata3 = kata1 + " " + kata2
print(kata3) #hasil adalah penggabungan adalah matahari terbenam
kata4 = "dida"
print(kata4 * 4) #hasil adalah didadidadidadida
kata4 = "dida "
print(kata4 * 2) #hasil adalah dida dida

In [ ]:
#parsing string
kalimat = "Saudara-saudara, pada tanggal 17-08-1945 Indonesia merdeka"

hasil = kalimat.split(" ")

for kal in hasil:
    if kal[0].isdigit():
        hasil2 = kal.split("-")
        print(hasil2[1]+"/"+hasil2[0]+"/"+hasil2[2])